# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs & reports
logs/
*.log
.pytest_cache/
.html
.xml
allure-results/

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

.pytest/

# TODO file
todo.md